In [1]:
#dependencies
import pandas as pd
from pathlib import Path

In [19]:
#import csv file
file_path = Path(r"C:\Users\tsatr\Documents\BootCamp\18-Tableau\02-Homework\Resources\201812_citibike_tripdata.csv")
dec_df = pd.read_csv(file_path)
dec_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,689,00:04.3,11:33.8,3359.0,E 68 St & Madison Ave,40.769157,-73.967035,164.0,E 47 St & 2 Ave,40.753231,-73.970325,35033,Subscriber,1989,1
1,204,00:05.5,03:30.5,3504.0,E 123 St & Lexington Ave,40.802926,-73.937900,3490.0,E 116 St & 2 Ave,40.796879,-73.937261,20501,Subscriber,1966,1
2,316,00:10.2,05:27.2,270.0,Adelphi St & Myrtle Ave,40.693083,-73.971789,243.0,Fulton St & Rockwell Pl,40.688226,-73.979382,18386,Subscriber,1984,1
3,726,00:22.0,12:28.2,495.0,W 47 St & 10 Ave,40.762699,-73.993012,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,27616,Subscriber,1983,1
4,397,00:29.6,07:07.4,473.0,Rivington St & Chrystie St,40.721101,-73.991925,3467.0,W Broadway & Spring Street,40.724947,-74.001659,35096,Subscriber,1976,1

In [20]:
#import csv file
file_path = Path(r"C:\Users\tsatr\Documents\BootCamp\18-Tableau\02-Homework\Resources\201901_citibike_tripdata.csv")
jan_df = pd.read_csv(file_path)
jan_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,01:47.4,07:07.6,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,04:43.7,10:00.6,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,06:04.0,15:55.4,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,07:03.5,52:22.6,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,07:35.9,12:39.5,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [21]:
#import csv file
file_path = Path(r"C:\Users\tsatr\Documents\BootCamp\18-Tableau\02-Homework\Resources\201902_citibike_tripdata.csv")
feb_df = pd.read_csv(file_path)
feb_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,00:06.3,03:46.1,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,00:28.0,02:51.7,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,01:14.0,06:10.7,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,01:14.2,09:12.8,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,01:49.3,05:34.5,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [22]:
pd.concat([dec_df, jan_df, feb_df]).to_csv('winter2019.csv', index=False)

In [23]:
file_path = Path(r"C:\Users\tsatr\Documents\BootCamp\18-Tableau\02-Homework\winter2019.csv")
winter2019_df = pd.read_csv(file_path)
winter2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,689,00:04.3,11:33.8,3359.0,E 68 St & Madison Ave,40.769157,-73.967035,164.0,E 47 St & 2 Ave,40.753231,-73.970325,35033,Subscriber,1989,1
1,204,00:05.5,03:30.5,3504.0,E 123 St & Lexington Ave,40.802926,-73.937900,3490.0,E 116 St & 2 Ave,40.796879,-73.937261,20501,Subscriber,1966,1
2,316,00:10.2,05:27.2,270.0,Adelphi St & Myrtle Ave,40.693083,-73.971789,243.0,Fulton St & Rockwell Pl,40.688226,-73.979382,18386,Subscriber,1984,1
3,726,00:22.0,12:28.2,495.0,W 47 St & 10 Ave,40.762699,-73.993012,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,27616,Subscriber,1983,1
4,397,00:29.6,07:07.4,473.0,Rivington St & Chrystie St,40.721101,-73.991925,3467.0,W Broadway & Spring Street,40.724947,-74.001659,35096,Subscriber,1976,1

In [24]:
winter2019_df['gender'] = winter2019_df['gender'].replace({0: 'unknown', 1: 'male', 2: 'female'})

In [25]:
winter2019_df['gender'].value_counts()

male       2177216
female      633215
unknown     117105
Name: gender, dtype: int64

In [26]:
winter2019g_df = winter2019_df[winter2019_df.gender != 'unknown']

In [27]:
winter2019g_df['gender'].value_counts()

male      2177216
female     633215
Name: gender, dtype: int64

In [28]:
winter2019g_df.to_csv('winter2019_converted.csv', index=False)

In [29]:
file_path = Path(r"C:\Users\tsatr\Documents\BootCamp\18-Tableau\02-Homework\summer2019_converted.csv")
summer2019_converted_df = pd.read_csv(file_path)
summer2019_converted_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,00:01.5,05:31.8,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,male
1,830,00:04.2,13:55.1,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,female
2,380,00:06.0,06:26.8,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,female
3,1155,00:06.8,19:22.5,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,male
4,1055,00:07.5,17:42.6,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,male

In [30]:
summer2019_cleaned_df = summer2019_converted_df[summer2019_converted_df.gender != 'unknown']

In [31]:
summer2019_cleaned_df['gender'].value_counts()

male      690975
female    261990
Name: gender, dtype: int64

In [33]:
summer2019_cleaned_df.to_csv('summer2019_cleaned.csv', index=False)